.btn-white{
	border-color: #fff !important;
}
.navbar-brand {
	padding: 15px 30px 0 30px;
}
.nav-login-regist-button-container {
	padding: 10px 30px 0 0;
}
.nav-login-regist-button-container > .btn {
	width: 100px;
	margin-left: 15px;
}
#loginWindow > .modal-dialog {
	width: 450px;
	margin-top: 100px;
}
#registWindow > .modal-dialog {
	margin-top: 100px;
}
#messageWindow > .modal-dialog {
	width: 450px;
	margin-top: 100px;
}
#messageWindow h4 {
	text-align: center;
}

