<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="static/favicon.ico">
  <title>timeline</title>
  <!-- Bootstrap core CSS -->
  <link href="static/bootstrap-3.3.4/css/bootstrap.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="static/lib/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="static/ace/ace.min.css">
  <!-- Bootstrap theme -->
  <!-- <link href="static/bootstrap-3.3.4/css/bootstrap-theme.css" rel="stylesheet" /> -->
  <link href="static/css/main.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="static/js/asserts/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="static/js/asserts/ie-emulation-modes-warning.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="static/js/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="static/js/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--[if !IE]> -->
  <script src="static/jquery/2.1.1/jquery.min.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
    <script src="static/jquery/1.11.2/jquery.min.js"></script>
    <![endif]-->
  <script src="static/ng/1.3.15/angular.js"></script>
  <script src="static/ng/1.3.15/angular-route.js"></script>
  <script src="static/ng/1.3.15/angular-messages.min.js"></script>
  <script src="static/bootstrap-3.3.4/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="static/lib/lightslider/js/lightslider.min.js"></script> -->
  <script src="/static/lib/ng-file-upload/ng-file-upload.min.js"></script>
<!--   <script src="/static/lib/textAngular/textAngular-sanitize.min.js"></script>
  <script src="/static/lib/textAngular/textAngular-rangy.min.js"></script>
  <script src="/static/lib/textAngular/textAngular.min.js"></script>
 -->  <script src="/static/lib/bootstrap-datetimepicker/angular-bootstrap-datetimepicker-directive.js"></script>

  <!-- {{{ BEGIN timeline
  <link rel="stylesheet" href="/static/lib/timelinejs/css/timeline.css">
  <link rel="stylesheet" href="/static/lib/timelinejs/css/fonts/font.default.css">
  <script src="/static/lib/timelinejs/js/timeline.js"></script>
  <script src="/static/js/ctrls/timeline.js"></script>
 -->
  <script src="/static/js/ctrls/tlApp.js"></script>
  <script src="/static/js/ctrls/userCtrls.js"></script>
  <script src="/static/js/ctrls/indexCtrls.js"></script>
  <script src="/static/js/ctrls/userinfoCtrls.js"></script>
  <script src="/static/js/ctrls/userTlCtrls.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
</head>
<body ng-app="tlApp"  ng-controller="indexCtrl" ng-cloak>
  <!-- {{{ BEGIN navbar -->
  <div id="navbar" class="navbar navbar-default">
    <div class="navbar-container" id="navbar-container">
      <!-- {{{ BEGIN brand logo -->
      <div class="navbar-header pull-left">
        <a class="navbar-brand" href="#">
          <div>
            <!-- <img src="static/img/watch.png"> -->
            <img src="static/img/title.png">
          </div>
        </a>
      </div>
      <!-- }}} BEGIN brand logo -->

      <!-- {{{ BEGIN regist login button -->
      <div class="navbar-header pull-right nav-login-regist-button-container" ng-show="!loginInfo.status">
        <button class="btn btn-sm btn-white btn-round" ng-click="showLogin()" ><i class="ace-icon fa fa-key align-top bigger-110"></i>登&nbsp;&nbsp;&nbsp;&nbsp;陆</button>
        <button class="btn btn-sm btn-danger btn-round" ng-click="showRegist()"><i class="ace-icon glyphicon glyphicon-user align-top bigger-110"></i>注&nbsp;&nbsp;&nbsp;&nbsp;册</button>
      </div>
      <!-- }}} BEGIN regist login buuton -->

      <!-- {{{ BEGIN user info -->
      <div class="navbar-buttons navbar-header pull-right nav-userinfo" role="navigation">
        <ul class="nav ace-nav " ng-show="loginInfo.status">
          <li class="blue">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#/user/tl/create">
              <i class="ace-icon glyphicon glyphicon-plus"></i>
              故事
            </a>
          </li>
          <!-- {{{ BEGIN 粉丝 -->
          <li class="pink">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="ace-icon fa fa-users icon-animated-bell"></i>
              <span class="badge badge-pink">8</span>
            </a>
            <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close"></ul>
          </li>
          <!-- {{{ BEGIN 新信息 -->
          <li class="green">
            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);" aria-expanded="false">
              <i class="ace-icon fa fa-envelope"></i>
              <span class="badge badge-success">5</span>
            </a>
          </li>
          <!-- {{{ BEGIN 新粉丝 -->
          <li class="red">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="ace-icon fa fa-heart icon-animated-wrench"></i>
              <span class="badge badge-danger">99</span>
            </a>
            <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close"></ul>
          </li>
          <li class="light-blue">
            <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle" aria-expanded="false">
              <img class="nav-user-photo" src="/static/img/ace/user.jpg" alt="Jason's Photo">
              <span class="user-info"> <small>时间的朋友,</small> {{user.username}} </span>
              <i class="ace-icon fa fa-caret-down"></i>
            </a>
            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
              <li>
                <a href="#/user/userinfo"> <i class="ace-icon fa fa-user"></i> 用户信息 </a>
              </li>
              <li>
                <a href="profile.html"> <i class="ace-icon fa fa-cog"></i> 重置密码 </a>
              </li>
              <li>
                <a href="#/timeline"> <i class="ace-icon fa fa-cog"></i> 时间线 </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0);" ng-click="logout()"> <i class="ace-icon fa fa-power-off"></i> 退出 </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- }}} BEGIN user info -->
      <ng-include src="'views/user/login.html'"></ng-include>
      <ng-include src="'views/user/regist.html'"></ng-include>
    </div>
  </div>
  <!-- }}} BEGIN nav bar -->

  <ng-view></ng-view>
  <div class="margin-top-6"></div>
  <ng-include src="'views/message.html'"></ng-include>
</body>
</html>
